#menubutton{
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 25px;
    transition: all .5s ease-in-out;
}

.menubutton-burger{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 4px;
    background: #000000;
    border-radius: 2px;
    transition: all .5s ease-in-out;
    top: 50%;
    transform: translate(0,-50%);
}

.menubutton-burger::before,
.menubutton-burger::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 4px;
    background: #000000;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}

.menubutton-burger::before{
    transform: translateY(-8px);
}

.menubutton-burger::after{
    transform: translateY(8px);
}

/* Animation */
#menubutton.opened .menubutton-burger{
    background: transparent;
    box-shadow: none;
    transform: rotate(-90deg);
}

#menubutton.opened .menubutton-burger::before{
    transform: rotate(45deg);
}

#menubutton.opened .menubutton-burger::after{
    transform: rotate(-45deg);
}