#demo-div{
    position: absolute;
    text-align: center;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffc90e;
}

body{
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

h1{
     font-size: 1em;
}

select{
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #ffc90e;
    background-color: #fffcf2;
    font-size: 14pt;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 15px;
    background-image: url("../images/icons/uicomponents/select_arrow.svg");
    background-size: 14px auto;
    background-repeat: no-repeat;
    background-position: right center;
    vertical-align: middle;
    height: 22px;
}

select option{
    font-size: 10pt;
}

#main-menu{
    position: fixed;
    background-color: #ffd863;
    width: 300px;
    max-width: 300px;
    max-height: 75%;
    overflow: auto;
    z-index: 1000;
}

#content-div{
  position: relative;
  height: calc(100vh - 32px - 45px);
  overflow-y: auto;
}
