.about-div{
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ffc90e;
    display: block;
    overflow: visible;
}

.about-div h1{
    padding: 5px;
    background-color: #ffc90e;
}

.about-iframe{
    border: 0;
    height: calc(100% - 85px);
    left: 0;
    top: 0;
    width: 100%;
}