<module name="org.mongodb" xmlns="urn:jboss:module:1.3">
  <dependencies>
    <module name="javax.api"/>
    <module name="javax.transaction.api"/>
    <module name="javax.servlet.api" optional="true"/>
  </dependencies>
  <resources>
    <resource-root path="mongo-java-driver-3.12.2.jar"/>
  </resources>
</module>